body {
    background-color: beige;
}

h1 {
    font-size: 50px;
    font-style: italic;
    margin-left: 200px;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

header .links {
    display: flex;
    flex-flow: row;
    gap: 10px;
    list-style-type: none;
}

.about-me {
    display: flex;
    flex-flow: row;
    justify-content: center;

    .image {
        width: 50%;
        text-align: center;
        margin: 0;     
    }

    .tags {
        width: 50%;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}

.about-me .image {
    .profile-picure {
        width: 350px;
        border-radius: 8px; 
    }
    .description {
        margin-top: 15px;
        font-weight: bold;
    }
}

.about-me .tags {
    .tag {
        padding: 4px;
        border-radius: 4px;
    }

    .interests .tag {
        background-color: rgb(212, 137, 137);
        color: white;
    }
    
    .hobbies .tag {
        background-color: rgb(234, 234, 90);
    }
}
 .container {
    display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 2fr 3fr;
   
      
     }
    


.info {
    background-color: blanchedalmond;
    text-align: center;
    padding: 48px;

}
.info .contact {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin:auto;
    gap: 18px;
}
   







.about {
    background-color: bisque;
}
